<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>information</title>
</head>
<body>
   
    <table class="css-serial">
        <tbody>
          <tr>
           
            <th>ID</th>
            <th>Name</th>
            <th>phonenumber</th>
            <th>Skills</th>
            <th>experience</th>
          </tr>
          <tr>
           
            <td></td>
            
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
           
            <td>{{ user.phonenumber }}</td>
            <td>{{ cuser.skills }}</td>
            <td>{{ cuser.experience }}</td>
          
          </tr>
        </tbody>
      
      </table>
</body>
</html>