<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Hello {{current_user.username}} </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!---If user is logged-in logout should appear, else login should appear-->
          <!---If user is logged-in, dashboard showing user profile should appear -->
          <!---If user is not logged-in, register should also appear for new users-->
          {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="#">Take Quiz</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="#">Past Quiz Attempts</a>
              </li>
  
              {% if current_user.usertype == 'Admin' or current_user.usertype == 'Employer_Company' %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">Add Question</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="#">Questions</a>
                  </li>
  
              {% endif %}
  
              {% if current_user.usertype == 'Admin' %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">Show Feedbacks</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="#">Download-Upload-Qns</a>
                  </li>
  
              {% endif %}
  
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
  
          {% else %}
  
          {% endif %}
  
        </ul>
       
      </div>
    </div>
  </nav>
  
  