{% extends "base.html"%}
{%block content%}

<style>
   
 
  nav .navbar-brand.logo {
   color: #222;
 }
 nav.navbar ul.navbar-nav li.nav-item a.active {
      color: #ef6108 !important;
    }
    nav.navbar .nav-item {
      padding: 0 13px 0 13px;
      font-family: "Raleway", sans-serif;
      color: #222;
    }
    
    nav.navbar ul.navbar-nav li.nav-item a.nav-link {
      font-size: 12px;
      font-weight: 500;
      color: #222;
      padding: 0;
      position: relative;
      text-transform: uppercase;
    }
 </style>

 <!-- Example split danger button -->

<header class="header-content">
  <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container">
      <a class="navbar-brand logo" href="#">Employee recruiter</a>
       <!-- <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="25" height="24" class="nav-logo"> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
           <ul class="navbar-nav main">
              <li class="nav-item">
                 <a href="{{ url_for('index') }}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                 <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
              </li>
              
              <li class="nav-item">
               <a href="{{ url_for('Myprofile') }}" class="nav-link ">MyProfile</a>
            </li>
          </li>
          <li class="nav-item">
           <a href="{{ url_for('profiles') }}" class="nav-link active">Profiles</a>
        </li>
      

       </ul>
           
        </div>
     </div>
  </nav>
</header>
<div class="split right">
<div class="s" style="margin-top: 100px;">
{% for user in users.items %}



   
      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 " style="margin-right:0px;">
        <div class="card mb-3" style="border-radius: .5rem; width:100%; margin-left:390px;">
          <div class="row g-0" style="margin-left:30px;">
            <div class="col"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="static\profilepic\{{user.image_file}}"
                alt="Avatar" class="img-fluid my-5" style="width: 150px;" />
              <h5>Username: {{user.username}}</h5>
             
              <p>Web Designer</p>
              
            <a href="{{url_for('profileupdate',username=user.username)}}">  <i class="far fa-edit mb-5"></i></a>
            </div>
            <div class="col-md-8" style="margin-right:250px;">
              <div class="card-body p-4">
                <h6>user information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3" style="padding-bottom:5px;">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>User ID</h6>
                    <p class="text-muted">{{user.id}}</p>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <button class="btn btn-primary">Go</button>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <button class="btn btn-primary">Go</button>
                  <p>Last seen on</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="{{url_for('view', username=user.username)}}">View more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<style>
  .gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))


}
</style>      




{% endfor %}
<div class="text-left" style="margin-left:1100px;">
  <a href="{{ url_for('profiles', page=users.prev_num) }}"
     class="btn btn-outline-dark 
     {% if users.page == 1 %}disabled{% endif %}">
      &laquo;
  </a><!-- Loop through the number of pages to display a link for each-->
  {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
          {% if users.page == page_num %}
          <a href="{{ url_for('profiles', page=page_num) }}"
             class="btn btn-dark">
              {{ page_num }}
          </a>
          {% else %}
          <a href="{{ url_for('profiles', page=page_num) }}"
             class="btn btn-outline-dark">
              {{ page_num }}
          </a>
          {% endif %}
      {% else %}
          ...
      {% endif %}
  {% endfor %}    <a href="{{ url_for('profiles', page=users.next_num) }}"
     class="btn btn-outline-dark 
     {% if users.page == users.pages %}disabled{% endif %}">
      &raquo;
  </a>
  <p class="text-right mt-3">
    Showing page {{ users.page }} of {{ users.pages }}
   </p>
   
</div>

</div>
<div class="split left">
  hello
</div>


{% endblock content%}

